<div id="<%= dom_id refinance %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Apr:</strong>
    <%= refinance.apr %>
  </div>
  <div>
    <strong class="block font-medium mb-1">New apr:</strong>
    <%= refinance.new_apr %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Original payment:</strong>
    <%= refinance.original_payment %>
  </div>
  <div>
    <strong class="block font-medium mb-1">New payment:</strong>
    <%= refinance.new_payment %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Savings per month:</strong>
    <%= refinance.savings_per_month %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Total savings:</strong>
    <%= refinance.total_savings %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Term:</strong>
    <%= refinance.term %>
  </div>
</div>
